<div id="accordion_wrapper">
	<%Category.all.each do |cat| %>
		<h3 class="AccordionHeader"><%= cat.title%></h3>
		<div class="AccordionContent">
			<div class="menuList">
			<%cat.subcategories.each do |sub| %>
			 
				<%=link_to sub.title , {:controller => "/book", :action => "index", :id => sub.id}, :class => "sub_category_link", :dataid => sub.id%>
				<%end%>
			</div>
		 </div>
	<%end%>
</div>