<% news = New.where(:status_id => 1)%>


<div class="news_wrapper">
                                    <div class="topBestSeller">
                                        <img src="/assets/spacer.gif" /></div>
                                    <div id="slider" class="middleBestSeller">
     
        
    </div>
                                    <div class="bottomBestSeller bottomBox">
                                        &nbsp;
                                    </div>
                                </div>

