<div class="search" id="SearchPanel" runat="server">
                <div class="input-panel clearfix">
                <div class="input"> 
                <input type="text"  id="search_txt" class="txt InitField SearchFiled"  />
                </div>

                </div>
                <div id="inputSearch"  class="main_search_btn button bg-group">חפש</div>
                <div class="clear"></div>
                
                </div>