 <h2 style="direction:ltr; text-align:left"> TODO:</h2>
                                 <ul style="direction:ltr; text-align:left">
                                    <li>  add lightbod for see the large image </li>
                                    <li> active admin create module for orders</li>
                                    <li> add search autocomplete (by product by author to site)</li>  
                                    <li> config send mail on server </li>
                                    <li> add best seller </li>
                                    <li> add news marquee</li>
                                    <li> add ckeditor </li>
                                    
                                </ul>
                                 <!-- <h2 style="direction:ltr; text-align:left"> TODO: second step </h2>
                                <ul style="direction:ltr; text-align:left">

                                <li>applay paypal option</li>
                                <li>think / applay change  the site to multiple languages </li>
                                <li> Category page when the user exist at home page get the products by ajax </li>
                            </ul>-->
<div style="clear:both"> </div>
<div id="books_wrapper">
<%unless (@subcategory.nil?)%>
<h3>
<%unless (@subcategory.category.nil?)%><%=@subcategory.category.title %> &gt;

<%end%>
	<%=@subcategory.title %> </h3>

	<%end%>
<%if @books.count > 0%>
<%@books.each do |book, index| %>
<%= render  :partial => "main/partial/bookitem", :locals =>{:dataitem=> book}%>
<%end%>
<%else%>
מצטערים אין ספרים תחת קטגוריה זו!
<%end%>
</div>