<div class="contact_page">    <h1>
        צור קשר
    </h1>
    <strong> ליצירת קשר עם החנות בשעות הפעילות </strong> <br />
חנות: יפה נוף אלעד<br />
כתובת: <br />
טלפון: 03-9335302<br />
<br /><br />
<h2>תודה על פנייתך</h2>
<h2>בקרוב ניצור איתך קשר</h2>

</div>