
<div class="contact_page">    <h1>
        צור קשר
    </h1>
    <strong> ליצירת קשר עם החנות בשעות הפעילות </strong> <br />
חנות: יפה נוף אלעד<br />
כתובת: <br />
טלפון: 03-9335302<br />
<br /><br />
 כמו"כ ניתן ליצור איתנו קשר באמצעות טופס זה
 <%=form_tag "/contact/contact_us" ,:id =>"contact_form" do %>
    <table>
        <tr>
            <td>
                שם מלא:
            </td>
            <td>
            	<input name="userName" 
 value="<%=(current_user.nil?)? "" : current_user.first_name + " " + current_user.last_name%>"
                type="text" maxlength="50" class="required" />
              
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                מייל
            </td>
            <td>
            	<input name="mail" type="text" maxlength="50" 
                value="<%=(current_user.nil?)? "" : current_user.email%>" class="required email" />
               
            </td>
            <td>
               
            </td>
        </tr>
        <tr>
            <td>
                נושא
            </td>
            <td>
            	<input name="subject" type="text" maxlength="50" class="required" />
               
            </td>
            <td>
                  </td>
        </tr>
        <tr>
            <td valign="top">
                תוכן
            </td>
            <td>
            	<textarea name="body" class="required" style="height:150px"></textarea>
                
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	<input type="submit" class="redButtonLink" value="שלח" />
                
            </td>
        </tr>
    </table>
<%end%>
</div>