    <h1>
        צור קשר
    </h1>
    <table>
        <tr>
            <td>
                שם:
            </td>
            <td>
            	<input name="userName" type="text" maxlength="50" />
              
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                מייל
            </td>
            <td>
            	<input name="mail" type="text" maxlength="50" />
               
            </td>
            <td>
               
            </td>
        </tr>
        <tr>
            <td>
                נושא
            </td>
            <td>
            	<input name="subject" type="text" maxlength="50" />
               
            </td>
            <td>
                  </td>
        </tr>
        <tr>
            <td valign="top">
                תוכן
            </td>
            <td>
            	<textarea name="body" style="widht:250px; height:150px"></textarea>
                
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            	<input type="submit" class="redButtonLink" />
                
            </td>
        </tr>
    </table>
